#movieDeets {
    display: flex;
    flex-direction: row;
}

#movieDeets > div {
    width: 30%;
    text-align: left;
}

/* #allInfo {
    display: flex;
    flex-direction: row;
} */

#movieImage {
    width: 200px;
}